<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi data | Login</title>
    <link rel="stylesheet" href="./Styles/Login.css">
    <link rel="shortcut icon" href="/assets/MD1.png" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    
    <main>
        <div class="contain-all">
            
            <div class="box-back">
                <div class="box-back-login">
                    <h3>¿Ya tienes una cuenta?</h3>
                    <p>Inicia sesión para entrar</p>
                    <button id="btn-sign-in">Iniciar sesión</button>
                </div>

                <div class="box-back-register">
                    <h3>¿Aún no tienes una cuenta?</h3>
                    <p>Registrate para que puedas iniciar sesión</p>
                    <button id="btn-sign-up">Regístrate</button>
                </div>
            </div>

            <!-- Formulario login y registro -->
            <div class="contain-login-register">
                <!-- Formulario login -->
                <form action="/login" class="form-login">
                    <h2>Iniciar sesión</h2>
                    <input type="text" name="correo-login" placeholder="Correo electronico">
                    <input type="password" name="pasw-login" class="input-pasword" placeholder="Contraseña">
                    <button type="button" id="togglePassword">
                        <img src="../assets/ojo-cerrado.png" alt="ver contraseña" id="eyeIcon">
                    </button>
                    <button id="btn-login">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Entrar
                    </button>
                </form>

                <!-- Formulario registro -->
                <form action="/registros" class="form-register">
                    <h2>Regístrarse</h2>
                    <input class="nime" type="text" name="nombre" placeholder="Nombre Completo">
                    <input class="email" type="text" name="correo" placeholder="Correo electronico">
                    <input class="user" type="text" name="usuario" placeholder="Nombre de usuario">
                    <input class="pasw" type="password" name="clave" placeholder="Contraseña">
                    <button id="btn-register">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Regístrarse
                    </button>
                </form>
            </div>

        </div>
        
        <div class="msg" style="display: none;">
            <p>Registrado exitosamente!</p>
        </div>
    </main>

    <!-- <script src="/JS/main.js"></script> -->
    <script src="/Login.js"></script>
</body>
</html>